<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/initialize.php" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnPhpunitDeprecations="true" failOnDeprecation="true" colors="true">
  <testsuites>
    <testsuite name="all-tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
